ItemTemplate.txt common com.mokylin.bleach.common.item.template.ItemTemplateVO //道具模板
ItemCompoundTemplate.txt common com.mokylin.bleach.common.item.template.ItemCompoundTemplateVO //物品合成模板
HeroAttrTemplate.txt common com.mokylin.bleach.common.hero.template.HeroAttrTemplateVO //hero模板
RoleAttrTemplate.txt common com.mokylin.bleach.common.hero.template.RoleAttrTemplateVO //hero基础属性模板
HeroGrowTemplate.txt common com.mokylin.bleach.common.hero.template.HeroGrowTemplateVO //hero成长模板
HeroGrowStarTemplate.txt common com.mokylin.bleach.common.hero.template.HeroGrowStarTemplateVO //hero星级成长率模板
HeroGroupTemplate.txt common com.mokylin.bleach.common.hero.template.HeroGroupTemplateVO //hero组模板
HeroSkillLevelUpTemplate.txt common com.mokylin.bleach.common.hero.template.HeroSkillLevelUpTemplateVO //Hero技能升级费用模板
HeroSkillLevelMaxTemplate.txt common com.mokylin.bleach.common.hero.template.HeroSkillLevelMaxTemplateVO //Hero技能等级上限模板
CombatTemplate.txt common com.mokylin.bleach.common.combat.template.CombatTemplateVO //战斗类型模板
SpellTemplate.txt common com.mokylin.bleach.common.combat.template.SpellTemplateVO //Spell模板
SpellActionCalculaeTemplate.txt common com.mokylin.bleach.common.combat.template.SpellActionCalculaeTemplateVO //Spell的战斗计算模板
BuffTemplate.txt common com.mokylin.bleach.common.combat.template.BuffTemplateVO //Buff模板
Name1Template.txt common com.mokylin.bleach.common.human.template.Name1TemplateVO //用户名称前缀
Name2Template.txt common com.mokylin.bleach.common.human.template.Name2TemplateVO //用户名称中缀
Name3Template.txt common com.mokylin.bleach.common.human.template.Name3TemplateVO //用户名称后缀
ExpTemplate.txt common com.mokylin.bleach.common.human.template.ExpTemplateVO //经验等级模板
DailyRewardsTemplate.txt common com.mokylin.bleach.common.dailyreward.template.DailyRewardsTemplateVO //每日奖励模板
DailyRewardElemTemplate.txt common com.mokylin.bleach.common.dailyreward.template.DailyRewardElemTemplateVO //每日奖励配置模板
ShopItemPriceTemplate.txt common com.mokylin.bleach.common.shop.template.ShopItemPriceTemplateVO //物品价格模板
ShopItemStoreRoomTemplate.txt common com.mokylin.bleach.common.shop.template.ShopItemStoreRoomTemplateVO //物品库模板
ShopRefreshPriceTemplate.txt common com.mokylin.bleach.common.shop.template.ShopRefreshPriceTemplateVO //商店刷新消耗模板
ShopTemplate.txt common com.mokylin.bleach.common.shop.template.ShopTemplateVO //商店模板
ShopGoodTemplate.txt common com.mokylin.bleach.common.shop.template.ShopGoodTemplateVO //商店货物模板
ShopDiscountTemplate.txt common com.mokylin.bleach.common.shop.template.ShopDiscountTemplateVO //物品打折模板
CostByCountsTemplate.txt common com.mokylin.bleach.common.human.template.CostByCountsTemplateVO //随次数改变的钻石消耗数量模板
FunctionTemplate.txt common com.mokylin.bleach.common.function.template.FunctionTemplateVO	//功能模板
DailyRefreshTimeTemplate.txt common com.mokylin.bleach.common.dailyrefresh.template.DailyRefreshTimeTemplateVO	//每日定时刷新模板
EnergyTemplate.txt common com.mokylin.bleach.common.human.template.EnergyTemplateVO //体力模板
VipTemplate.txt common com.mokylin.bleach.common.human.template.VipTemplateVO	//VIP模板
